apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: backend-monitor
  namespace: monitoring
  labels:
    release: prom
spec:
  selector:
    matchLabels:
      app: backend
  namespaceSelector:
    matchNames:
      - cloudmaven
  endpoints:
    - port: http
      interval: 15s
      path: /metrics
